@keyframes bertui-rotateInUpLeft {
  from {
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.bertui-rotateInUpLeft {
  animation-name: bertui-rotateInUpLeft;
  transform-origin: left bottom;
}
