@keyframes bertui-rotateIn {
  from {
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.bertui-rotateIn {
  animation-name: bertui-rotateIn;
  transform-origin: center;
}
