@keyframes bertui-rotateOutUpRight {
  from {
    opacity: 1;
  }

  to {
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}

.bertui-rotateOutUpRight {
  animation-name: bertui-rotateOutUpRight;
  transform-origin: right bottom;
}
