@keyframes bertui-bertui-rotateOutDownLeft {
  from {
    opacity: 1;
  }

  to {
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}

.bertui-rotateOutDownLeft {
  animation-name: bertui-rotateOutDownLeft;
  transform-origin: left bottom;
}
