@keyframes bertui-fadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.bertui-fadeOutRightBig {
  animation-name: bertui-fadeOutRightBig;
}
