@keyframes bertui-fadeOutDownBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.bertui-fadeOutDownBig {
  animation-name: bertui-fadeOutDownBig;
}
