@keyframes bertui-bertui-fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.bertui-fadeOutRight {
  animation-name: bertui-fadeOutRight;
}
