@keyframes bertui-slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bertui-slideInUp {
  animation-name: bertui-slideInUp;
}
