@keyframes bertui-slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bertui-slideInDown {
  animation-name: bertui-slideInDown;
}
