@keyframes bertui-bertui-slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.bertui-slideOutRight {
  animation-name: bertui-slideOutRight;
}
