@keyframes bertui-slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.bertui-slideOutDown {
  animation-name: bertui-slideOutDown;
}
