/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes bertui-rollOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.bertui-rollOut {
  animation-name: bertui-rollOut;
}
