@keyframes bertui-bertui-zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.bertui-zoomOut {
  animation-name: bertui-zoomOut;
}
